/* TODO(you): Write the CSS to finish the assignment! */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* border: 1px red solid; */
    width: 700px;
    margin-bottom: 35vh;

    font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    color: #222;
}

.mg-tp-18px {
    margin-top: 18px;
}
.--flex-cent {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden {
    display: none !important;
}
.--center-txt {
    text-align: center;
}


.headr {
    border: 1px #ccc solid;
    justify-content: space-between;
    height: 80px;
    font-family: "Helvetica", Helvetica, sans-serif;
}
.headr .wpr-red {
    font-size: 32px;
    font-weight: bold;
    color: #ee3322;
}
.headr .mern-ctn * {
    background-color: #ffee00;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-weight: bold;
    transform: rotate(-30deg);
    margin-left: 10px;
}



#quiz-name .title-ctnr {
    background: url("images/background.jpg");
    background-size: cover;
    /* background-position: ; */
    font-family: 'Pangolin', 'Trebuchet MS', cursive;
    height: 425px;
}
.title-ctnr h1 {
    background: #fff;
    padding: 20px;
    font-size: 60px;
    color: black;
}
#quiz-name p {
    font-size: 14px;
    margin-bottom: 48px;
}


button {
    color: white;
    padding: 18px;
    border: none;
    cursor: pointer;
    transition: .2s;
    margin: 18px 0;
}
button.--blue-bg {
    background-color: #2196F3;
} button.--blue-bg:hover {
    background-color: #0d8bf2;
}
button.--green-bg {
    background-color: #4CAF50;
} button.--green-bg:hover {
    background-color: #46a049;
}


.q__response-ctn {
    margin: 30px 0;
}
.question-ctn .q__r__radio + span {
    margin-left: 15px;
}
.q__response-ctn .q__r__radio-ctn {
    /* border: 1px red solid; */
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 1px;
    position: relative;
}
.q__r__radio-ctn *:not(.q__r__highlighter),
.q__r__radio-ctn::after {
    z-index: 1;
    pointer-events: none;
}
.q__r__highlighter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    transition: .18s;
}.q__r__highlighter:hover,
.q__r__radio:checked ~ .q__r__highlighter {
    background-color: #ddd;
}

.q__r__radio-ctn.correct-yes .q__r__highlighter {
    background-color: #d4edda;
}
.q__r__radio-ctn.correct-oops .q__r__highlighter {
    background-color: #ccc;
}
.q__r__radio-ctn.wrong .q__r__highlighter {
    background-color: #f8d7da;
}
.q__r__radio-ctn.correct-yes::after,
.q__r__radio-ctn.correct-oops::after,
.q__r__radio-ctn.wrong::after {
    content: "Correct answer";
    margin-left: auto;
    background-color: rgba(170, 170, 170, 0.5);
    border-radius: 3px;
    padding: 5px;
    color: white;
}
.q__r__radio-ctn.wrong::after {
    content: "Your answer";
}

#review-quiz .counter {
    font-size: 24px;
}

.card {
    background-color: #f1f1f1;
    border: 1px #dcdcdc solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 700px) {
    body {
        width: 95%;
    }
}
@media only screen and (max-width: 500px) {
    .mern-ctn {
        display: none;
    }
}